.landing-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* background-color: red; */
}
.hero-intro {
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: #f7d04b;
}
.content-part {
  display: block;
  text-align: center;
  align-items: center;
}
.content-part h2 {
  display: flex;
  flex-wrap: wrap;

  width: 596px;
  height: 300px;
  left: 868px;
  top: 264px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 32px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}
.content-part p {
  width: 453px;
  height: 269px;
  left: 939px;
  top: 335px;
  align-items: center;
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}
.hero-img img {
  position: absolute;
  width: 200px;
  height: 500px;
  left: 190px;
  top: 391px;
  z-index: 2;
}
.empty-blue {
  background-color: #1245ee;
  position: absolute;
  width: 475px;
  height: 587px;
  left: 50px;
  top: 218px;
  z-index: 0;
  border-radius: 15px;
}
.hero-img p {
  position: absolute;
  width: 686px;
  height: 164px;
  left: 170px;
  top: 248px;
  justify-self: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.btn-sign {
  margin-top: -100px;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
}
.btn-sign button {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  /* position: absolute;
    width: 163px;
    height: 70px;
    left: 690px;
    top: 650px; */
  background: #1245ee;
  border-radius: 5px;
}
.aboutus {
  /* background-color: palevioletred; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin-top: 50px; */
  gap: 50px;
  padding-top: 200px;
  /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7%;
    grid-template-rows: auto, auto;
    row-gap: 1em;
    top: 999px; */
}
.likes-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.about-us h4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  padding: 40px;
  margin-top: -150px;
}
.about-us p {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin: 50px;
  padding: 50px;
}
.likes i {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.team {
  display: grid;
  grid-template-columns: 1fr;
}
.team-5 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f7d04b;
  padding: 50px 0px 50px 0px;
  justify-items: center;
}
.dev-img-imtro img {
  width: 100%;
  padding: 15px;
  height: 250px;
}
.dev-intro p {
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 10px;
}
.des-dev {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}
.designers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.developers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dev-img-imtro {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  width: 70%;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
}
/* #gurankit{
    display: block;
    justify-items: center;
} */
.foot-land {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
}
.footer-web {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}
.foot-logo p {
  text-align: start;
  padding-top: 10px;
}
.logo-collg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.social-phnum {
  display: grid;
  grid-template-rows: 1fr;
}
.brands {
  text-align: end;
}
.brands i {
  margin: 20px;
}
.phnum {
  text-align: end;
  margin-right: 20px;
}
.team-name {
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
