.preferences-container {
  font-family: Poppins;
  grid-template-columns: 1fr;
  display: grid;
  justify-items: center;
  gap: 50px;
}

.register-left-panel {
  position: relative;
  height: 100%;
  background: rgba(247, 208, 75, 0.8);
  box-shadow: 0px 0px 20px rgba(23, 50, 97, 0.2);
  border-radius: 10px;
}

.margin-80 {
  margin-top: 80px;
}
.signup-container {
  padding: 0px 40px 40px 40px;
}
.bg-img {
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  position: relative;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.register-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.right-panel {
  min-height: 900px;
}

.done-btn {
  margin: 20px 0;
  background-color: var(--color-2);
  color: white;
  padding: 10px 20px;
}

.text-center {
  text-align: center;
}

.pref-footer {
  background-color: var(--color-1);
}

@media (min-width: 614px) {
  .preferences-container {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }

  .pref-footer {
    background-color: white;
  }
}
